#maqueta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 200px;
    margin-top: 50px;
}

.imagen {
    height: 400px;
    justify-content: left;
    margin-left: 10%;
}

.atributos {
    margin-top: 150px;
    margin-left: 10%;
    margin-bottom: 50px;
}

.atributos #volver{
    background-color: #1f1f21;
    color: #61dafb;
}